.member{
    .content-member{
        .title-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
        }
    }
    .ant-upload-list-picture-card .ant-upload-list-item-actions{
        left: 50%;
    }
    .ant-upload-list-item-card-actions-btn.ant-btn-sm{
        display: none;
    }
}