.goods-recipi{
    .content-goods-recipi{
        .title-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            .form-recipi{
                display: flex;
                justify-content: space-around;
            }
        }
    }
}