.order-history{
    .content{
        text-align: center;
        padding: 20px;
        border: 2px solid #cecbcbaa;
        border-radius: 8px;
        
        .title{
            padding: 10px 0;
        }
    }
}