.footer{
    margin-top: 20px;
    border-top: 1px solid #c6c3c3;
    div.footer__footer-wrapper:last-child{
        background-color: #262626;
        color: #ffff;
    }
    &__footer-wrapper{
           
        &__on-top{
            margin: 0 auto;
            width: 75%;
            .banner-list{
                justify-content: space-between;
                display: flex;
                text-align: center;
                align-items: center;
                .banner-item{
                    .item{
                        color: #a6a6a6;
                        
                        img{
                            filter: grayscale(50%); 
                            width: 95px;
                            height: 95px;
                        }
                        img:hover{
                            
                            filter: unset;  
                        }
                        span{
                            
                            display: block;
                        }
                    }
                }
            }
        }

        &__on-bottom{
            padding-top: 20px;
            align-items: center;
            margin: 0 auto;
            width: 75%;

            font-weight: 200;
            span{
                font-weight: 500;
            }
            a:hover{
                color: #d40c0c;
            }
            .infor-wrapper{
                display: flex;
                .infor{
                    .infor-list{
                        .logo{
                            margin-bottom: 15px;
                            img{
                                width: 145px;
                                height: 45px;
                            }
                        }
                        .address{
                            margin-bottom: 10px;
                            .detail{
                                p{
                                    margin-bottom: unset;
                                }
                            }
                        }
                        .social{
                            display: flex;
                            ul{
                                display: flex;
                                padding-left: 10px;
                                a{
                                    padding: 7px;
                                    font-size: 17px;
                                }
                            }
                        }
                    }
                }
                .about-us{
                    margin-bottom: 10px;
                }
                .help-us{
                    ul{
                        padding: unset;
                    }
                }
                .discount-inform{
                    .custom-input{
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        .input{
                            font-size: 12px;
                            background-color: transparent;
                            border: solid 2px rgba(255,255,255,.5);
                            height: 35px;
                            border-radius: 30px;
                            float: left;
                            width: calc(100% - 95px);
                            float: left;
                            padding-left: 12px;
                            margin-right: 10px;
                        }
                        .btn{
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}