.carousel{
    position: relative;
    .custom-carousel{
        .carousel-banner{
            
            .carousel-picture{
                img{
                    width: 100%;
                   height: 500px;
                }
            }
        }
        .custom-button{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .next{
                text-align: center;
                color: #827e7e;
                font-size: 30px;
                right: 0;
                top: 46%;
                position: absolute;
                padding-right: 20px;
            }
            .previous{
                top: 46%;
                color: #6d6b6b;
                font-size: 30px;
                
                position: absolute;
                padding-left: 20px;
            }
            .next:hover{
                color: #3a3131;
            }
            .previous:hover{
                color: #3a3131;
            }
            
        } 
    }
    
       
}