.header{
    border-bottom: 0.01rem solid #dadada;
    .header-contact{
        height: 40px;
        background-color: #262626;
        color: #fff;
        font-weight: 400;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 15%;
        padding-right: 15%;
        .left{
            align-items: center;
            display: flex;
            span{

                padding-right: 5px;   
            }
        }
        .right{
            align-items: center;
        }
        .right:hover{
            color: #ea0b0b;
        }

    }
    .header-container{
        // margin-top: 4px;
        display: flex;
        justify-content: space-between;   
        align-items: center; 
    
        width: 75%;
        margin: 0 auto;
        font-weight: 700;
        padding: 5px;
    
        border-bottom: 2px;
        border-color: #000;
        &__top-left{
            align-items: center;
            display: flex;
            .logo{
                width: 10rem;
                height: auto;
            }
            .menu{
                ul{
                    display: flex;
                    margin: 0;
                    color: #000;
                    li{
                        margin-right: 1rem;
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                }
               
            }
        }
        &__top-right{
            display: flex;
            align-items: center;
            .search{
                width: 250px;
                margin-right: 2rem;
                position: relative;
                .ant-input{
                    border-radius: 30px;
                }
                .search-icon{
                    color: #bfbfbf;
                    font-size: 15px;
                    padding-top: 5px;
                    right: 0;
                    top: 0;
                    position: absolute;
                    padding-right: 15px;
                }
                .suggestion-list{
                    position: absolute;
                    z-index: 10;
                    background-color: #f0f0f0;
                    border-radius: 8px;
                    margin-top: 8px;
                    width: 100%;
                    .suggestion-item:hover{
                        background-color: #c7c7c7;
                        transition: 100ms linear;
                    }
                    .suggestion-item:not(:last-child) {
                        border-bottom: 1px solid #aeaeae;
                        display: block;
                    }
                    &__suggestion{
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        padding: 6px 10px;
                        color: #414141;
                        .suggestion-info{
                            margin-left: 10px;
                        }
                    }
                }
            }
            .login{
                border: 0.05rem solid #dadada;
                border-radius: 1rem;
                margin-right: 1rem;
                font-weight: 400;
                a{
                    padding: 8px;
                }
                a:hover{
                    color: #d45959;
                }
            }
            .map{
                color: #d80f0f;
                font-size: 20px;
                padding-right: 15px;
                
            }
            .map:hover{
                padding-bottom: 2px;
            }
            .cart{
                position: relative;
                font-size: 30px;
                color: #d80f0f;
                .custom-cart{
                    position: relative;
                    display: flex;
                    .count-cart{
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span{
                            margin-top: 8px;
                            font-weight: 500;
                            font-size: 15px;
                            color: #fff
                        }
                    }
                }
               
            }
        }
    
    }
}
