.detail{
    .link{
        margin-bottom: 10px;
        margin-left: 10px;
        a{
            font-weight: 500;
            color: #4f4fe8;
        }
        a:hover{
            color: #0d0d8b;
        }
    }
    .specification{
        border: solid 1px #ddd;
        border-radius: 5px;
        padding: 15px 20px;
        margin-left: 10px;
        &__link{
            a{
                font-weight: 500;
                color: #4f4fe8;
            }
            a:hover{
                color: #0d0d8b;
            }
            margin-bottom: 10px;
        }
        &__info{
            display: inline-block;
            .title-head{
                font-weight: 700;
            }
            .content{
                font-weight: bold;
            }
        }
    }
}
