.menu{
    &__brand{
        margin-bottom: 10px;
    }
    &__price{
        .top-price{
            display: flex;
        }
    }
    &__color{
        .swatch-list-color{
            padding-bottom: 20px;
            .list-color{
                display: flex;
                padding-left: unset;
                li{
                    margin-right: 8px;
                }
                .swatch-yellow{
                    p{
                        background-color: yellow;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-red{
                    p{
                        background-color: red;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-white{
                    p{
                        background-color: white;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-black{
                    p{
                        background-color: black;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-green{
                    p{
                        background-color: green;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-orange{
                    p{
                        background-color: orange;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
                .swatch-blue{
                    p{
                        background-color: blue;
                        cursor: pointer;
                        display: block;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                    }
                    p:hover{
                        border: 2px solid #777778;
                    }
                }
            }
        }
    }
}