.menu{
    .title_custom{
        font-size: 15px;
        font-weight: 500;     
    }
    &__brand{
        margin-bottom: 10px;
        .list-brand{
            display: block;
        }
    }
    &__price{
        .top-price{
            display: flex;
        }
    }
    &__color{
        .swatch-list-color{
            padding-bottom: 20px;
            .list-color{
                display: flex;
                padding-left: unset;
                li{
                    overflow: hidden;
                    margin-right: 8px;
                    border-radius: 2rem;
                    padding: 2px;
                    border: 1px solid #fff;
                }
                li:hover, li.active{
                    border: 1px solid #484848;
                }
                .swatch{
                    p{
                        cursor: pointer;
                        display: block;
                        height: 1.5rem;
                        width: 1.5rem;
                        padding: 0;
                        text-indent: -999em;
                        margin-bottom: 0;
                        border: 1px solid #9e9fa1;
                        border-radius: 2rem;
                    }
                    
                }
            }
        }
    }
}